

 
    header {
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        height: 680px;
        background-image: url("images/mobile.gif");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
   @media screen and (max-width: 820px) {
   header {
    width: 760px;
    margin: 0 auto;
    padding: 1rem 0;
    height: 1399px;
    background-image: url('images/mobile.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
   }
   
   @media screen and (min-width: 1025px) {
   header {
    height: 100vh;
    background-image: url('images/desctop.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
   }